@import "../../mixins.scss";

.header {
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 60px;
  &.top {
    background-color: rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(3.5px);
    // -webkit-backdrop-filter: blur(3.5px);
  }
  &.show {
    transform: translateY(0);
    background: var(--black3);
  }
  &.hide {
    transform: translateY(-60px);
  }
  .contentWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .logo {
    cursor: pointer;
    img {
      height: 75px;
      width: 150px;
    }
  }
  .menuItems {
    list-style-type: none;
    display: none;
    color: white;
    @include md {
      display: flex;
    }
    .menuItem {
      cursor: pointer;
      display: flex;
      align-items: center;
      height: 60px;
      margin: 0 15px;
      font-weight: 500;
      &:hover {
        color: var(--pink);
      }
      svg {
        font-size: 18px;
      }
    }
  }

  .mobileMenuItems {
    display: flex;
    align-items: center;
    gap: 20px;
    @include md {
      display: none;
    }
    svg {
      color: white;
      font-size: 18px;
      cursor: pointer;
    }
  }

  &.mobileView {
    background: var(--black3);
    .menuItems {
      background: var(--black3);
      display: flex;
      flex-direction: column;
      position: absolute;
      top: 60px;
      left: 0;
      width: 100%;
      animation: mobileMenu 0.3s ease forwards;
      border-top: 1px solid rgba(255, 255, 255, 0.1);
      .menuItem {
        font-size: 20px;
        width: 100%;
        height: auto;
        padding: 15px 20px;
        &:last-child {
          display: none;
        }
      }
    }
  }

  .searchBar {
    width: 100%;
    background-color: white;
    position: absolute;
    top: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    animation: mobileMenu 0.3s ease forwards;
    .searchInput {
      display: flex;
      align-items: center;
      width: 100%;
      @include md {
        padding: 0 15px;
      }
      svg {
        font-size: 20px;
        cursor: pointer;
      }
      input {
        flex-grow: 1;
        border: 0;
        outline: 0;
        height: 50px;
        font-size: 14px;
        @include md {
          height: 60px;
          font-size: 20px;
        }
      }
    }
  }
}

@keyframes mobileMenu {
  0% {
    transform: translateY(-130%);
  }
  100% {
    transform: translateY(0);
  }
}
