@import "../../mixins.scss";

.footer {
    background: var(--black3);
    color: white;
    padding: 30px 0;
    .contentWrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
    .menuItems {
        list-style-type: none;
        display: flex;
        gap: 15px;
        @include md {
            gap: 30px;
        }
        .menuItem {
            font-size: 12px;
            opacity: 0.75;
            cursor: pointer;
            transition: all ease 0.3s;
            &:hover {
                color: var(--pink);
            }
            @include md {
                font-size: 16px;
            }
        }
    }

    .infoText {
        font-size: 12px;
        @include md {
            font-size: 16px;
        }
    }

    .socialIcons {
        display: flex;
        gap: 10px;
        .icon {
            width: 50px;
            height: 50px;
            background-color: var(--black);
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            transition: all ease 0.3s;
            &:hover {
                color: var(--pink);
                box-shadow: 0 0 0.625em var(--pink);
            }
        }
    }
}