@import "../../mixins.scss";

.searchResultsPage {
  .pageTitle {
    font-size: 24px;
    line-height: 34px;
    color: white;
    margin-bottom: 25px;
  }

  .resultNotFound {
    font-size: 24px;
    color: var(--black-light);
  }

  .content {
    display: flex;
    flex-flow: row wrap;
    gap: 10px;
    margin-bottom: 50px;
    @include md {
      gap: 20px;
    }
    .movieCard {
      width: calc(33.33% - 10px);
      @include md {
        width: calc(25% - 15px);
      }
      @include lg {
        width: calc(20% - 16px);
      }
    }
  }

  .fallbackContainer {
    display: flex;
    flex-direction: column;
    .fallbackText {
      font-size: 24px;
      color: var(--black-light);
    }
  }
}
